<!-- My change -->
{% load static %}



<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
<title>ثبت نام در بستون</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/register style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->



</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>فرم عضویت در بستون</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">


		<!-- my change for creating the context		 -->
		<h2>{{message}}</h2>
		<div class="main-agileinfo"></div>


				<form action="http://localhost:1000/accounts/register_api/" method="post">
					<input class="text" type="text" name="username" placeholder="نام کاربری" required="">
					<input class="text email" type="email" name="email" placeholder="ایمیل" required="">
					<input class="text" type="password" name="password" placeholder="رمز عبور" required="">
					<!-- <input class="text w3lpass" type="password" name="password" placeholder="رمز عبور مجدد" required=""> -->
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>شرایط و قوانین سایت را مطالعه کرده و قبول می کنم.</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="ثبت">
				</form>
				<p>حساب کاربری دارید؟ <a href="http://localhost:1000/accounts/log_in/"> وارد شوید</a></p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>دانلود شده از وبسایت  <a href="https://copro.ir/" target="_blank">کپرو</a></p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>